/.idea/
lab1.iml
/src/main/resources/english3.txt
/src/main/resources/german3.txt
/src/main/resources/polish2.txt
/src/main/resources/english1.txt
/src/main/resources/german1.txt
/src/main/resources/italian2.txt
/src/main/resources/spanish2.txt
/src/main/resources/finnish1.txt
/src/main/resources/german4.txt
/src/main/resources/english4.txt
/src/main/resources/german2.txt
/src/main/resources/english2.txt
/src/main/resources/polish1.txt
/src/main/resources/polish3.txt
/src/main/resources/spanish1.txt
/src/main/resources/italian1.txt
/src/main/resources/finnish2.txt
